a{
    background-color: black;
    padding:4px;
    border-radius: 15px;
    text-decoration:none;
    font-family: 'News Cycle', sans-serif;
    color: white;;
  }
body{
    background-color: darkred;
}
h1{
    font-family: 'News Cycle', sans-serif;
    color: white;
}
h3{
    font-family: 'News Cycle', sans-serif;
    color: white;
}
img {
	margin: 10px;
	border-color: black;
	border-width: 4px;
	border-style: solid;
	display: block;
	width: 300px;
	height: 216px;
}
